<!-- <div class="text-area">
  <input type="text" [(ngModel)]="taskTitle" class="d-block" />
  <button class="btn btn-success mt-2" (click)="createTask()">Click me</button>
</div>

<div *ngFor="let task of tasks; index as i" class="d-flex">
  <p class="mt-3">{{ task.title }}</p>
  <button class="btn btn-danger mt-3" (click)="deleteTask(i)">delete</button>
</div> -->
<!-- <app-signup></app-signup> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
<!-- <app-header></app-header>
<app-todo-input></app-todo-input>
<app-todo-card></app-todo-card> -->
